{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Laila's Website</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" type="text/css" href="{% static "favicon.png"%}" type="image/x-icon">
    <link rel="apple-touch-icon" type="text/css" href="{% static "images/apple-touch-icon.png" %}"> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css"%}">
    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css"%}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css"%}">
	<script src="{% static "js/modernizr.js"%}"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="politics_version">

    <!-- LOADER -->
    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->
	
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About Me</a>
            </li>
			      <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">More..</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	<section id="home" class="main-banner parallaxie" style="background: url('{% static "banner2.jpg"%}"')">
		<div class="heading">
			<h1>hello i'm Laila</h1>
			<p>“I like the night. Without the dark, we'd never see the stars.”<br>― Stephenie Meyer, Twilight</p>
			<h3 class="cd-headline clip is-full-width">
				<span>Have a Good</span>
				<span class="cd-words-wrapper">
					<b class="is-visible">Day!</b>
					<b>Time!</b>
					<b>Rest!</b>
					<b>Evening!</b>
				</span>
			</h3>
		</div>
	</section>

	<svg id="clouds" class="hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 85 100" preserveAspectRatio="none">
        <path d="M-5 100 Q 0 20 5 100 Z
            M0 100 Q 5 0 10 100
            M5 100 Q 10 30 15 100
            M10 100 Q 15 10 20 100
            M15 100 Q 20 30 25 100
            M20 100 Q 25 -10 30 100
            M25 100 Q 30 10 35 100
            M30 100 Q 35 30 40 100
            M35 100 Q 40 10 45 100
            M40 100 Q 45 50 50 100
            M45 100 Q 50 20 55 100
            M50 100 Q 55 40 60 100
            M55 100 Q 60 60 65 100
            M60 100 Q 65 50 70 100
            M65 100 Q 70 20 75 100
            M70 100 Q 75 45 80 100
            M75 100 Q 80 30 85 100
            M80 100 Q 85 20 90 100
            M85 100 Q 90 50 95 100
            M90 100 Q 95 25 100 100
            M95 100 Q 100 15 105 100 Z">
        </path>
    </svg>

    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">                        
                        <h2>About Me</h2>
                        <p>an ordianary girl who is curious about this extraordinary world</p>
                        <p>Name   : Siti Nurlaila</p>
                        <p>NPM    : 1906353883 (Year 2019)</p>
                        <p>Hobby  : Reading, Watching, Exploring something interesting.</p>
                        <p>Education : </p>
                        <p>University of Indonesia (2019 - now) </p>
                        <p>SMAN 1 Depok (2016 - 2019)</p>
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="{% static "myphoto.jpg"%}" width="100%" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="contact" class="section db">
        <div class="container">
            <div class="section-title text-left">
                <h3>More about me</h3>
                <p></p>
            </div><!-- end title -->
              <center><img src="{% static "gurl1.jpg"%}" width="40%" alt="" class="img-fluid img-rounded"></center>
              <p> </p>
              <center><img src="{% static "ff2.jpg"%}" width="40%" alt="" class="img-fluid img-rounded"></center>
              <p></p>
            </div><!-- end title -->
            <div class="row">
              
    </div><!-- end section -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                        <left><a href="https://www.instagram.com/?hl=id"><img src="{% static 'ig.png' %}",  width ="5%" ></left>
                        <left><a href="https://www.linkedin.com/in/sitinlaila/"><img src="{%static 'linkedin.png'%}", width='5%'></left>
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Dominic</a> Design By : 
					<a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static "js/all.js"%}"></script>
	<!-- Camera Slider -->
	<script src="{% static "js/jquery.mobile.customized.min.js"%}"></script>
	<script src="{% static "js/jquery.easing.1.3.js"%}"></script> 
	<script src="{% static "js/parallaxie.js"%}"></script>
	<script src="{% static "js/headline.js"%}"></script>
	<!-- Contact form JavaScript -->
    <script src="{% static "js/jqBootstrapValidation.js"%}"></script>
    <script src="{% static "js/contact_me.js"%}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static "js/custom.js"%}"></script>
    <script src="{% static "js/jquery.vide.js"%}"></script>

</body>
</html>